html{font-size: 50px;}
body{font-size: 0.14rem /*实际相当于14px*/}

*{margin: 0rem;padding: 0rem;}
body{margin: 0rem;padding: 0rem;width: 100%;font-family: PingFangSC-Semibold;;}
ul li{list-style-type: none;}
a{text-decoration: none;}

.head{position: fixed;width: 100%;top: 0;font-size: 0.28rem;letter-spacing: 0;}
.header{height: 0.66rem;background-color: white;display: flex;justify-content: space-between;align-items: flex-end;padding-left: 0.5rem;padding-right: 0.5rem;padding-bottom: 0.24rem;}
.back{font-family: PingFangSC-Semibold;color: #AAADB9;/*line-height: 0.14rem;*/width: 20%;display: flex;align-items: center;}
.back img{width: 0.16rem;height: 0.28rem;padding-right: 0.16rem;}
.submit{display: flex;align-items: flex-end;color: #292C35;line-height: 0.28rem;}

.main{margin-top: 0.9rem;}
.title{font-size: 0.44rem;color: #1C202A;line-height: 0.44rem;margin-left: 0.48rem;}

.theme{font-size: 0.28rem;color: #AAADB9;line-height: 0.34rem;width: auto;margin: 0.34rem auto 0 auto;width: 87%;border-bottom: #D8D8D8 solid 0.02rem !important;padding-bottom: 0.24rem;}
#input{width: 6rem;height: 0.6rem;outline: none;border: none;}
#theme-count{margin-left: 90%;margin-top: -0.48rem;}

.describe{font-size: 0.24rem;color: #AAADB9;line-height: 0.34rem;width: 87%;margin: 0.3rem auto 0 auto;border-bottom: #D8D8D8 solid 0.02rem !important;padding-bottom: 0.14rem;}
#textarea{width: 6.5rem;height: 1.18rem;outline: none;border: none;}
#des-count{}

.choose-topic{font-size: 0.24rem;width: 87%;margin: 0.42rem auto 0 auto;border-bottom: #D8D8D8 solid 0.02rem;padding-bottom: 0.3rem;}
.topic-fir{color: #585D6B;height: 0.4rem;display: flex;justify-content: space-between;line-height: 0.4rem;}
#topic-img{width: auto;height: 0.26rem;}

.topic-sec{width: 96%;margin: 0.22rem auto 0 auto;}
.topic-sec ul{width: 100%;display: flex;flex-flow: row wrap;}
.topic-sec ul li{margin: 0 0.2rem 0.2rem 0rem;padding: 0.04rem 0.2rem 0.04rem 0.2rem;background-color: #AAADB9;width: auto;border-radius: 0.5rem;height: 0.32rem;text-align: center;line-height: 0.32rem;color: #FFFFFF;font-size: 0.24rem;}

.choose-add{display: flex;align-items: center;justify-content: space-between;width: 87%;font-size: 0.24rem;color: #585D6B;margin: 0.4rem auto 0 auto;padding-bottom: 0.3rem;border-bottom: #D8D8D8 solid 0.02rem;}
#add-img{height: 0.32rem;width: auto;}

.img-follow{width: 87%;margin: 0.2rem auto 0 auto;display: flex;flex-flow: row wrap;}
.img{margin-right: 0.1rem;width: auto;margin-bottom: 0.1rem;}
.img-bg{background: linear-gradient(-180deg, #1F1F1F 0%, rgba(14,14,14,0.00) 36%);border-radius: 0.1rem;position: absolute;z-index: 2;width: 1.54rem;height: 1.54rem;}
.img-center{background-image: url(../img/photo1.png);background-size: cover;background-repeat: no-repeat;background-position:center center;width: 1.54rem;height: 1.54rem;border-radius: 0.1rem;}
#img-close{width: 0.24rem;height: 0.24rem;margin: 0.1rem 0.1rem 0 1.2rem;border-radius: 0.08rem;}


.input-img{background-image: url(../img/upload.png);width: 1.54rem;height: 1.54rem;background-size: cover;}
#file{width: 1.54rem;height: 1.54rem;border: none;outline: none;opacity: 0;}
