html {
    font-size: 100px;
}

body {
    font-size: 0.14rem /*实际相当于14px*/
}

* {
    margin: 0rem;
    padding: 0rem;
}

body {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
    font-family: PingFangSC-Semibold;
    background-size: 100% 52%;
    background: url(../img/bg.png) no-repeat fixed;}

ul li {
    list-style-type: none;
}

.title {
    margin-top: 0.3px;
    font-size: 0.24rem;
    color: #1C202A;
    line-height: 0.44rem;
    margin-left: 1.50rem;
    height: 0.44rem;
    margin-bottom: 0.12rem;
}

.MyRun_nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*nav点击前*/
.MyRun_nav_runfast {
    font-family: PingFangSC-Semibold;
    font-size: 0.14rem;
    color: #585D6B;
    letter-spacing: 0;
    line-height: 0.14rem;
    margin-top: 0.28rem;
    margin-left: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 79%;
}

.MyRun_nav_runfast li {
    margin-right: 0.3rem;
    width: 20%;
}

/*nav点击后*/
.MyRun_nav_runfast li:last-child {
    font-size: 0.22rem;
    color: #292C35;
    letter-spacing: 0;
    line-height: 0.22rem;
    font-family: PingFangSC-Semibold;
    width: 50%;
}

.MyRun_nav_arrow {
    width: auto;
}

.MyRun_nav_arrow img {
    width: 0.15rem;
    height: 0.15rem;
    margin-top: 0.27rem;
    margin-left: 80%;
}

.back {
    font-family: PingFangSC-Semibold;
    color: #AAADB9; /*line-height: 0.14rem;*/
    width: 30%;
    display: flex;
    align-items: center;
    margin-top: 0.2rem
}

.back img {
    width: auto;
    height: 0.28rem;
    padding-right: 0.16rem;
    margin-left: 0.2rem
}

.MyRun_content {
    width: 100%;
    margin-top: 0.2rem;
    padding-bottom: 0.7rem;
}

.MyRun_masonry {
    width: 100%;
}

.MyRun_column {
    width: 100%;
}

.MyRun_item__content {
    width: 92%;
    border-radius: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.15rem;
}

.MyRun_item {
    border-bottom: #D8D8D8 solid 0.01rem;
    padding-left: 0.25rem;
}

.MyRun_content_topic_shade {
    position: absolute;
    z-index: 2;
    height: auto;
    width: 86%;
}

.MyRun_content_topic_shade ul li {
    border-radius: 0.1rem;
    width: 100%;
    background-image: linear-gradient(-179deg, #1CD577 0%, rgba(28, 213, 119, 0.00) 100%);
}

.MyRun_shade_content {
    width: 100%;
    height: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.MyRun_shade_content span {
    font-size: 0.1rem;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0.25rem 0.025rem;
    height: 0.2rem;
    display: block;
}

.MyRun_shade_finish {
    display: flex;
    padding-right: 0.25rem;
}

#MyRun_shade_title {
    font-size: 0.18rem !important;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.22rem;
    width: 2rem !important;
    margin-left: 0.15rem;
}

#MyRun_shade_min {
    display: block;
    font-size: 0.12rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 0.12rem;
    width: 1.4rem !important;
    margin-top: 0.6rem !important;
    margin-left: 0.15rem;
}

.MyRun-shade-img {
    position: absolute;
    z-index: 5; /*width: 1.2rem;height: 1.2rem;*/
}

.MyRun-shade-img img {
    position: absolute;
    z-index: 10;
    width: 0.6rem;
    height: 0.6rem;
    margin-top: 1.3rem;
    margin-left: 2.5rem;
}

.MyRun_shade_count {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.4rem !important;
    margin-left: 0.15rem;
}

.MyRun_shade_count img {
    width: 0.18rem !important;
    height: 0.18rem !important;
}

.MyRun_shade_count span {
    font-family: DINAlternate-Bold;
    font-size: 0.1rem;
    color: #FFFFFF;
    letter-spacing: 0;
}

.MyRun_item__foot {
    font-family: PingFangSC-Semibold;
    font-size: 0.12rem;
    color: #1C202A;
    letter-spacing: 0;
    line-height: 0.12rem;
    margin-top: 0.15rem;
    margin-bottom: 0.18rem;
}

.MyRun_item__foot span {
    font-family: PingFangSC-Semibold;
    font-size: 0.12rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 0.12rem;
    padding: 0 0.02rem 0 0.02rem;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav_runfast {
    font-family: PingFangSC-Semibold;
    font-size: 0.14rem;
    color: #585D6B;
    letter-spacing: 0;
    line-height: 0.14rem;
    margin-top: 0.28rem;
    margin-left: 0.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 79%;
}

.nav_runfast li {
    margin-right: 0.3rem;
    width: 27%;
}

/*nav点击后*/
.nav-myrun {
    margin-right: 0;
    font-size: 0.2rem;
    color: #292C35;
    letter-spacing: 0;
    line-height: 0.22rem;
    font-family: PingFangSC-Semibold;
}

.main_foot {
    background-color: #ffffff;
    width: 100%;
    height: 0.5rem;
    margin-top: 0.17rem;
    margin-bottom: 0.5rem;
    bottom: 0rem;
    position: fixed;
    z-index: 10;
    font-size: 0.1rem;
    color: #8C95B2;
    letter-spacing: 0
}

.launch {
    font-size: 0.16rem;
    color: #1CD577;
    letter-spacing: 0;
    line-height: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.1rem;
}

.launch img {
    width: 0.25rem;
    height: 0.25rem;
    padding-right: 0.12rem;
}

.footer {
    background: #1C202A;
    width: 100%;
    height: 0.5rem;
    bottom: 0rem;
    position: fixed;
    z-index: 10;
    font-size: 0.1rem;
    color: #8C95B2;
    letter-spacing: 0
}

.tab_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.08rem;
    width: 100%;
}

.my, .find {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    width: 0.6rem;
}

.my {
    margin-left: 0.9rem;
}

.find {
    margin-right: 0.9rem;
}

.Run {
    position: absolute;
    z-index: 11;
    bottom: -0.02rem;
}

.Run img {
    width: 0.77rem;
    height: 0.64rem;
}

.my img, .find img {
    width: 0.2rem;
    height: auto;
    margin-bottom: 0.02rem;
}

